/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* GENERAL STYLES FIRST */

body {
    margin: 0;
    font-family: Playfair Display, Roboto, arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5625;
    color: #090c08;
    background-color: #f4f3ee;
    box-sizing: border-box;
}

/* ---------------------STYLING MOBILE FIRST 375PX ------Home----------------------------- */

/* styling header first, want fixed */
header {
    /* position: fixed; */
    height: 85px;
    /* box-shadow: 0 4px 8px 0 black; */
    box-sizing: border-box;
    width: 100%;
}

/* nav bar-styles */
.nav {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    box-sizing: border-box;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    padding-top: 30px;
}

/* sizing header logo */
img.header-logo {
    max-width: 100px;
    display: flex;
    margin-top: -35px;
}

/* animating header logo */
img.header-logo:hover {
    animation-name: shake;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

@keyframes shake {
    0% {
        transform: translateX(0%);
    }

    15% {
        transform: translateX(-25%) rotate(-5deg);
    }

    30% {
        transform: translateX(20%) rotate(3deg);
    }

    45% {
        transform: translateX(-15%) rotate(-3deg);
    }

    60% {
        transform: translateX(10%) rotate(2deg);
    }

    75% {
        transform: translateX(-5%) rotate(-1deg);
    }

    100% {
        transform: translateX(0%);
    }
}

/* styling nav links  */
a.nav-link {
    text-decoration: none;
    font-family: roboto;
    font-size: 0.8rem;
    color: #607744;
}

a.nav-link:hover {
    color: black;
}

/* main wrapper margins */
.homewrapper {
    margin-left: 2em;
    margin-right: 2em;
}

/* styling banner image/text */
.hero-image {
    background-image: url(..//images/bigs/home\ banner.jpg);
    background-position: left;
    background-size: cover;
    min-height: 450px;
    height: auto;
    background-repeat: no-repeat;
    margin-left: -2em;
    margin-right: -2em;
}

/* styling text in the banner */
h1.banner {
    margin-top: -400px;
    text-align: left;
    color: white;
    font-size: 32px;
    max-width: 375px;
    padding-bottom: 20px;
    max-width: 355px;
}

p.bannerp {
    font-size: 0.8rem;
    color: white;
    padding-bottom: 25px;
    max-width: 355px;
}

/* adding button styles+animation */
.cta1 {
    line-height: 100px;
    height: 100px;
    text-align: center;
    cursor: pointer;
    color: white;
    transition: all 0.5s;
    position: relative;
    font-family: roboto;
    font-size: 0.8rem;
    text-decoration: none;
    background-color: black;
    padding: 25px 50px;
}

/* grey hover fade */
.cta1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s;
}

.cta1:hover::before {
    opacity: 0;
    transform: scale(0.5, 0.5);
}

/* border styles */
.cta1::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transform: scale(1.2, 1.2);
}

.cta1:hover::after {
    opacity: 1;
    transform: scale(1, 1);
}

/* h2 and p block styling */
.promotext.container {
    max-width: 1640px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    display: block;
    width: 100%;
}

.textwrapper h2.uplift {
    font-size: 1.25em;
    text-align: right;
    padding-top: 100px;
    font-weight: bolder;
}

p.uplift {
    text-align: right;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* setting grid for product image and icons */
.homeproduct {
    background-color: white;
    margin-left: -2em;
    margin-right: -2em;
}

/* styling main product photo in grid with icons*/
.productimg {
    display: block;
    background-image: url(..//images/Optimized/homebag_208.png);
    background-position: center;
    min-height: 450px;
    height: auto;
    background-repeat: no-repeat;
    margin-left: -2em;
    margin-right: -2em;
}

/* styling text for icon images */
.productwrap p {
    font-size: 0.8rem;
    text-align: center;
    padding-bottom: 25px;
}

.productwrap h4 {
    text-align: center;
}

/* styling text block with large button */
h2.nutritional {
    font-size: 1.25em;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: bolder;
}

/* styling "get your greens" button */
.cta2 a {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    font-family: roboto;
    text-decoration: none;
    font-size: 0.8rem;
    text-align: center;
    background-color: black;
    padding: 25px 50px;
    color: white;
}

.cta2 a:hover {
    opacity: 80%;
}

/* adding image block - smoothie */
.aboutimg {
    padding-top: 25px;
    width: 100%;
}

/* adding text block with cta again */
h2.about {
    font-size: 1.25em;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 20px;
    font-weight: bolder;
}

.abouttext {
    text-align: center;
    padding-bottom: 20px;
}

.cta3 a {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    font-family: roboto;
    text-decoration: none;
    font-size: 0.8rem;
    text-align: center;
    background-color: black;
    padding: 15px 50px;
    color: white;
}

.cta3 a:hover {
    opacity: 80%;
}

/* adding image block - trees */
.trees {
    padding-top: 25px;
}

/* adding gaia4good textblock */
.textwrapper h2.forgood {
    font-size: 1.25em;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: bolder;
}

p.forgood {
    text-align: center;
    padding-bottom: 30px;
}

/* styling link */
.textwrapper a {
    text-decoration: none;
    color: black;
}

.textwrapper a:hover {
    color: #607744;
}

/* styling footer */
.footer {
    position: relative;
    padding-bottom: 20px;
    background-color: black;
}

.footer-link img {
    max-width: 100px;
    margin-left: -15px;
}

.footer-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
    /* padding-left: 20px;
    padding-right: 20px; */
    max-width: 1640px;
    width: 100%;

}

.footersocials {
    display: flex;
    justify-content: space-between;
    width: 75%;
    padding-left: 20px;
}

/* copyright */
.copyright {
    color: #f4f3ee;
    font-family: roboto;
    font-size: 0.64rem;
    margin-left: 2em;
    padding-top: 20px;
}

/* styling about page--------------MOBILE---------------- */
/* re-setting margins for about page */
.mainwrapper {
    margin-left: 2em;
    margin-right: 2em;
}

/* styling about banner image */
.aboutbanner {
    background-image: url(..//images/bigs/about\ banner.jpg);
    background-position: left;
    background-size: cover;
    min-height: 450px;
    height: auto;
    background-repeat: no-repeat;
    margin-left: -2em;
    margin-right: -2em;
}

/* styling about banner text */
.aboutbannertext {
    color: white;
    font-size: 32px;
    max-width: 375px;
    padding-top: 250px;
    max-width: 355px;
    margin-left: 1em;
}

/*styling about paragraph section */
.pwrapper {
    background-color: white;
    margin-left: -2em;
    margin-right: -2em;
}

.about {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 2em;
    margin-right: 2em;
}

/* styling list section and header */
.listhead {
    font-size: 1.25em;
    text-align: left;
    padding-top: 25px;
    font-weight: bolder;
}

/* styling paragraph list */
.pgroup {
    padding-top: 20px;
    max-width: 600px;
}

.o {
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: #607744 1px solid;
}

.s {
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: #607744 1px solid;
}

.v {
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: #607744 1px solid;
}

.e {
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: #607744 1px solid;
}

.p {
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: #607744 1px solid;
    border-bottom: #607744 1px solid;
}

/* styling ingredient image */
.ingredientimg img {
    max-height: 260px;
    padding-top: 40px;
}

/* styling header with paragraph block */
.yogawrapper h2 {
    font-size: 1.25em;
    text-align: left;
    padding-top: 20px;
    font-weight: bolder;
}

.yogawrapper p {
    text-align: right;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
}

/* styling yoga image */

/* styling header and bottom call to action button */
.gettextwrapper h2 {
    font-size: 1.25em;
    text-align: center;
    padding-top: 20px;
    font-weight: bolder;
    padding-bottom: 20px;
}

a.cta4 {
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    font-family: roboto;
    text-decoration: none;
    font-size: 0.8rem;
    text-align: center;
    background-color: black;
    padding: 15px 50px;
    color: white;
    margin-bottom: 20px;
}

a.cta4:hover {
    opacity: 80%;
}

/* ------------------------STYLING SHOP PAGE--------------MOBILE */
.shopwrapper{
    display:flex;
    flex-direction:column;
    align-items: center;
}
.shopimg img{
    padding-top: 20px;
    padding-bottom:20px;
}
.headwrapper h2{
    font-size: 1.25em;
    text-align: left;
    font-weight: bolder;
    padding-bottom: 10px;
}
/* styling non-form text */
.description p{
    font-size: 0.8rem;
}
.description{
    padding-top: 10px;
    padding-bottom: 10px;
}
/* form styling */